@import url(http://fonts.googleapis.com/css?family=Raleway:300,700,900);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"], button, a.action, .next-posts a, .prev-posts a, li.menu-item a {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #3B9AD8;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus, a.action:hover, .next-posts a:hover, .prev-posts a:hover, a.action:focus, .next-posts a:focus, .prev-posts a:focus, li.menu-item a:hover, li.menu-item a:focus {
    background-color: #E34E42;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, button:disabled, a.action:disabled, .next-posts a:disabled, .prev-posts a:disabled, li.menu-item a:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select[multiple=multiple], textarea {
  background-color: #fff;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover, select[multiple=multiple]:hover, textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple=multiple]:focus, textarea:focus {
    border-color: #3081B7;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(43, 115, 163, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul {
    list-style-type: disc;
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    padding-left: 1.5em; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #3081B7;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #20567a; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%;
  height: auto; }

body {
  background-color: #fff;
  padding: 0;
  margin: 0; }

section.content {
  max-width: 53.75em;
  margin-left: 1em;
  margin-right: 1em; }
  @media screen and (min-width: 40em)  {
    section.content {
      margin: 0 auto; } }

/* Youtube embeds */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 1.5em;
  height: 0;
  margin-bottom: 1.5em; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

header {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  background-color: #2D3E4F; }
  header h1 {
    margin-bottom: 0; }
    header h1 a {
      color: #d0e7f6; }
  header .tagline {
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom: 1.5em;
    font-style: italic;
    color: #fff; }
  header.no-tagline h1 {
    margin-bottom: 0.75em; }
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  header nav li {
    display: inline-block;
    margin-bottom: 0.75em; }
  header nav .current-menu-item a {
    background-color: #E34E42; }

.entry {
  margin-bottom: 7.5em;
  padding: 0;
  /* Post format `aside` */
  /* Post format `link` */
  /* Post format `video` */ }
  @media screen and (min-width: 40em)  {
    .entry {
      padding: 1.5em;
      border: 1px solid #eeeeee;
      margin-bottom: 6em; } }
  .entry .post-title a {
    color: #E34E42; }
  .entry.format-aside {
    background-color: #ffffcc;
    padding: 1em;
    border: none;
    border-left: 10px solid #DDD; }
    .entry.format-aside .post-title {
      font-size: 1em; }
  .entry.format-link {
    background-color: #ccffff;
    padding: 1em;
    border: none;
    border-left: 10px solid #DDD; }
    .entry.format-link .post-title {
      display: none; }
    .entry.format-link a:first-child {
      font-weight: bold;
      font-size: 1.2em;
      text-decoration: underline; }
  .entry.format-video {
    background-color: #333;
    border: none;
    color: #fff;
    padding-top: 0;
    margin-top: 1.5em; }
    .entry.format-video .videoWrapper {
      margin-left: -1.5em;
      margin-right: -1.5em; }
    .entry.format-video .post-title {
      display: none; }
    .entry.format-video a {
      color: #fff;
      text-decoration: underline; }

.featured-image {
  text-align: center;
  background-color: #f8f8f8;
  padding: 0.75em 0;
  margin-bottom: 1.5em;
  line-height: 0; }
  @media screen and (min-width: 40em)  {
    .featured-image {
      background-color: transparent;
      margin: -1.5em;
      margin-bottom: 1.5em;
      border-bottom: 1px solid #eeeeee; } }

.navigation {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

.next-posts, .prev-posts {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.prev-posts {
  text-align: right; }

footer {
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  border-top: 1px solid #DDD;
  text-align: center; }

.widget_text {
  margin-bottom: 7.5em;
  background-color: #efefef;
  padding: 1em;
  border: none;
  border: 1px solid #DDD;
  line-height: 2em;
  text-align: center; }
  .widget_text h2 {
    display: none; }
